<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  {% if messages %}
  <ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  <form action="{{ url_for('get_users') }}" method="get">
    <input type="search" required name="term">
    <input type="submit" value="Search" />
  </form>
  <table>
    {% for user in users %}
    <tr>
      <td>
        {{ user.id }}
      </td>
      <td>
        <a href="{{ url_for('user_page', id=user.id) }}" class="user">{{ user.nickname }}</a>
        <form action="{{ url_for('edit_user', id=user.id) }}">
          <input type="submit" value="Edit" class="edit">
        </form>
        <form action="{{ url_for('delete_user', id=user.id) }}" method="post">
          <input type="submit" value="Remove" class="remove">
        </form>
      </td>
    </tr>
    {% endfor %}
</table>
<br>
<form action="/my_site/static">
  <input type="submit" value="Logout">
</form>
</body>
</html>